{% extends 'base.html' %}


{% block title %}
    About
{% endblock %}


{% block content %}

    <p class="h1 display-3 text-center bg-info-subtle text-info-emphasis">О нас</p>

    <hr>


    <div class="container">

        <p>Мы — компания, специализирующаяся на предоставлении высококачественных услуг и продуктов. Наши клиенты ценят нас за надежность, инновации и профессионализм. Мы стремимся создать долгосрочные партнерства и предлагаем решения, которые соответствуют требованиям современного рынка.</p>

        <h3>Наши цели</h3>
        <ul>
            <li>Предоставление высококачественных услуг нашим клиентам.</li>
            <li>Постоянное улучшение и инновации в нашей отрасли.</li>
            <li>Создание надежных и долгосрочных партнерств.</li>
        </ul>

        <p>Спасибо, что выбрали нас! Мы всегда рады новым возможностям и вызовам.</p>
    </div>

{% endblock %}