{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<p class="h1 display-3 text-center bg-info-subtle text-info-emphasis">Добро пожаловать на наш сайт!</p>

<div class="container my-5">
        <div class="row">
            <div class="col-lg-4">
                <h2>Наши ценности</h2>
                <p>Мы верим в инновации, командную работу и создание качественных продуктов, которые меняют мир.</p>
            </div>
            <div class="col-lg-4">
                <h2>Продукты</h2>
                <p>Наши продукты направлены на решение актуальных проблем и улучшение качества жизни людей.</p>

            </div>
            <div class="col-lg-4">
                <h2>Свяжитесь с нами</h2>
                <p>У вас есть идея или предложение? Свяжитесь с нами, и мы обсудим, как мы можем вместе достичь успеха.</p>

            </div>
        </div>
    </div>

{% endblock %}